[
    {lager, [
        {log_root, "./log"},
        {async_threshold, 20},
        {async_threshold_window, 5},
        {error_logger_hwm, 100},
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
            {lager_file_backend, [{file, "info.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 5}]}
        ]}
    ]},
    {pgapp, [
        {pools, [
            {pgpool, [
                    {size, 10},
                    {max_overflow, 20}
                ],
                [
                    {host, "localhost"},
                    {database, "chat"},
                    {port, 5432},
                    {username, "postgres"}
                ]}
            ]}
    ]}
].

